
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 8%;
  color: #fff;
  background: linear-gradient(120deg, #cc46b6, #b252b2);
  min-height: 100vh;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  border-radius: 45%;
    gap: 20px; 
}

.content {
  max-width: 600px;
}

.subtitle {
  color: #d291ff;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 0;
}

.role {
  font-size: 1.2rem;
  margin: 0.5rem 0 1rem;
  color: #f1f1f1;
}

.description {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  color: #e0e0e0;
}


.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.primaryBtn {
  background: linear-gradient(90deg, #cd81e0, #ff3cac);
  color: white;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.primaryBtn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.secondaryBtn {
  background: linear-gradient(90deg, #784ba0, #ff3cac);
  color: white;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}